# Data Analysis:{here name of the project}
- here information about the overview -

## Dataset
- here explanation about the dataset -

## Libraries

In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from IPython.display import display
from datetime import datetime
warnings.filterwarnings('ignore')

In [8]:
file_path = ("Datasets_files/Data_files_Fitbit/cleaned_fitbit_data.csv")
df = pd.read_csv(file_path)
df.head()

,id,sleep_day,total_sleep_records,total_minutes_asleep,total_time_in_bed,activity_date,total_steps,total_distance,tracker_distance,logged_activities_distance,...,fairly_active_minutes,lightly_active_minutes,sedentary_minutes,calories,day_of_the_week,total_hours_asleep,total_hours_in_bed,total_exercise_minutes,total_exercise_hours,Performance
0,1503960366,2016-04-12,1,327,346,2016-05-07,11992,7.71,7.71,0.0,...,46,175,833,1821,Saturday,5.0,6.0,1091,18.0,4.6
1,1503960366,2016-04-12,1,327,346,2016-05-06,12159,8.03,8.03,0.0,...,6,289,754,1896,Friday,5.0,6.0,1073,18.0,2.2
2,1503960366,2016-04-12,1,327,346,2016-05-01,10602,6.81,6.81,0.0,...,35,246,730,1820,Sunday,5.0,6.0,1044,17.0,3.9
3,1503960366,2016-04-12,1,327,346,2016-04-30,14673,9.25,9.25,0.0,...,34,217,712,1947,Saturday,5.0,6.0,1015,17.0,5.0
4,1503960366,2016-04-12,1,327,346,2016-04-12,13162,8.50,8.50,0.0,...,13,328,728,1985,Tuesday,5.0,6.0,1094,18.0,2.4